# -*- coding: utf-8 -*-

"""
***************************************************************************
    __init__.py
    -------------------------
    begin                : April 2019
    author               : (C) 2019 by Luigi Pirelli
    author email         : luipir at gmail dot com
    copyright            : (C) 2019 INSITU
    company web          : https://ingenieriainsitu.com/en/
***************************************************************************
*                                                                         *
*   This program is free software; you can redistribute it and/or modify  *
*   it under the terms of the GNU General Public License as published by  *
*   the Free Software Foundation; either version 2 of the License, or     *
*   (at your option) any later version.                                   *
*                                                                         *
***************************************************************************
"""

# how to use: pip install -r requirements.txt

# Microsoft Azure SDK for Python
# deb package: apt install python3-azure 
# pip package: pip install azure
azure
